.mainSectionAboutUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:25rem;
    align-items: center;
}
.footerAllPages{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}