.loginPopUp{
    width: 25%;
    height: 25%;
    position: absolute;
    border: 1px solid black;
    background-color: black;
    padding: 1%;
    color: white;
    border-radius: 8px;
    text-align: center;
    top: auto;
    left: 35%;
}