<header ngClass="navBarMain">
    <div ngClass="mainTitleBar">
        <h1>Page Title</h1>
        <button>Home</button>
        <button>About Us</button>
        <button>ToS</button>
    </div>
    <div ngClass="mainUserBar">
        <button>Sign Up</button>
        <button>Login</button>
    </div>
</header>

<main ngClass="homeMainPage">

    <section ngClass="mainSection">
        <h2>Sub title</h2>
        <ul ngClass="articleList">
            <li>
                <h2>Article</h2>
                <p>More info about the Article</p>
            </li>
            <li>
                <h2>Article</h2>
                <p>More info about the Article</p>
            </li>
        </ul>
    </section>
    <aside>
        <div>
            <h2>More info about our careers</h2>
        </div>
        <div>
            <ul>
                <li>
                    <h3>Point 1</h3>
                </li>
                <li>
                    <h3>Point 2</h3>
                </li>
                <li>
                    <h3>Point 3</h3>
                </li>
            </ul>
        </div>
    </aside>
    
</main>
