<app-nav-bar></app-nav-bar>
<main ngClass="homeMainPage" >
    <section ngClass="mainSection">
        <h2>Latest News</h2>
        <ul ngClass="articleList">
            <li ngClass="article">
                <h2>Article</h2>
                <p>More info about the Article</p>
            </li>
            <li ngClass="article">
                <h2>Article</h2>
                <p>More info about the Article</p>
            </li>
            <li ngClass="article">
                <h2>Article</h2>
                <p>More info about the Article</p>
            </li>
            <li ngClass="article">
                <h2>Article</h2>
                <p>More info about the Article</p>
            </li>
            <li ngClass="article">
                <h2>Article</h2>
                <p>More info about the Article</p>
            </li>
            <li ngClass="article">
                <h2>Article</h2>
                <p>More info about the Article</p>
            </li>
            <li ngClass="article">
                <h2>Article</h2>
                <p>More info about the Article</p>
            </li>
            <li ngClass="article">
                <h2>Article</h2>
                <p>More info about the Article</p>
            </li>
        </ul>
    </section>
    <section ngClass="mainInfo">
        <h1>Main info about our Page</h1>
        <br>
        <aside>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur doloribus odio vero consequatur quisquam voluptatibus quo illum, in magnam perferendis esse? Laudantium minus iure recusandae. Quia maxime doloribus, tempore voluptatum libero quae voluptates nulla nemo porro veritatis blanditiis aperiam sit beatae iste cumque. Delectus rerum repellendus temporibus sequi cumque quo?</p>
        </aside>
    </section>
    <aside>
        <div>
            <h2>More info about our careers</h2>
        </div>
        <div ngClass="careerPoints">
            <ul>
                <li>
                    <h3>Point 1</h3>
                </li>
                <li>
                    <h3>Point 2</h3>
                </li>
                <li>
                    <h3>Point 3</h3>
                </li>
            </ul>
        </div>
    </aside>
    
</main>
<footer ngClass="footerHomePage">
    <app-footer></app-footer>
</footer>