.navBarMain{
    display: flex;
    justify-content: space-around;
}
.mainTitleBar{
    display: flex;
}
.mainTitleBar button{
    align-self: center;
    font-size: 12px;
    width: 64px;
    border: none;
    text-decoration: underline;
    cursor: grab;
    height: 32px;
    background-color: transparent;
    margin: 1%;
    
}
.mainTitleBar h1{
    width: 100%;
}
.mainUserBar{
    display: flex;
}
.mainUserBar button{
    cursor: grab;
    text-decoration: underline;
    font-size: 12px;
    width: 64px;
    border: none;
    background-color: transparent;
    margin: 1%;
}
.mainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}
.homeMainPage{
    justify-content: space-around;
    display: flex;
}
.articleList{
    list-style: none;
}

.article{
    border-radius: 8%;
    padding: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
    border: 1px solid black;
}
.careerPoints{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}