
.mainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    
}
.homeMainPage{
    justify-content: space-around;
    display: flex;
}
.articleList{
    list-style: none;
}

.article{
    border-radius: 8%;
    padding: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
    border: 1px solid black;
}
.careerPoints{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.mainInfo{
    padding: 0;
    margin: 0;
    max-width: 40%;
}
.footerHomePage{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}