<div ngClass="registerPop">
    <button>X</button>
    <aside ngClass="signUpInputs">
        <div>
            <label>Mail</label>
            <br/>
            <input type="text" (change)="onKeyMail($event)" placeholder="example@example.com"/>
         </div>
        <br/>
        <div>
            <label>Password</label>
            <br/>
            <input type="password" (change)="onKeyPassword($event)" placeholder="********"/>
         </div>
    </aside>
    <button (click)="handleSubmit()" ngClass="signUpSubmitButton">Submit</button>
</div>